PORT=5002
LOG_LEVEL='info'
ENVIRONMENT='development'
WSX_PROJECT_ID=
WSX_MODEL_ID="ibm-mistralai/mixtral-8x7b-instruct-v01-q"
WSX_MODEL_API='https://us-south.ml.cloud.ibm.com/ml/v1-beta/generation/text?version=2023-05-29'
IAM_TOKEN_URL="https://iam.cloud.ibm.com/identity/token"
IAM_API_KEY=

# Database
DB_HOST='127.0.0.1'
DB_PORT=5432
DB_NAME='testgen'
DB_USER='postgres'
DB_PASSWORD=
DB_SSL=
DB_POOL_MIN=
DB_POOL_MAX=


# Cache
REDIS_HOST='127.0.0.1'
REDIS_PORT=6379

